# James Jones
### 11-08-2022

In [1]:
# Import Libraries
import pandas as pd
import numpy as np

In [2]:
# Load in URLs
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

In [3]:
# Read in to DFs
basics = pd.read_csv(basics_url, sep = '\t', low_memory = False)

In [4]:
# Read in to DFs contd
akas = pd.read_csv(akas_url, sep = '\t', low_memory = False)

In [5]:
# Read in to DFs contd
ratings = pd.read_csv(ratings_url, sep = '\t', low_memory = False)

In [6]:
# Give one of our DFs a look
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [7]:
# Data cleaning steps
basics.replace({'\\N':np.nan}, inplace = True)

In [8]:
# We can see that it worked in row 3
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [9]:
# Check duplicates
basics.duplicated().sum()

0

In [10]:
# Check na
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1255400
endYear           9258965
runtimeMinutes    6800352
genres             430766
dtype: int64

In [11]:
# Get more information
basics.describe()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
count,9357313,9357313,9357302,9357302,9357312,8101913,98348,2556961,8926547
unique,9357313,11,4282647,4303377,8,150,95,877,2329
top,tt0000001,tvEpisode,Episode #1.1,Episode #1.1,0,2021,2017,30,Drama
freq,1,7064744,45721,45721,9066728,435798,5996,145454,1063310

In [12]:
# Get more information
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357313 entries, 0 to 9357312
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 642.5+ MB

In [13]:
# Drop null in runtime an genre columns
basics = basics.dropna(subset = ['runtimeMinutes', 'genres'])

In [14]:
# See updates
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear           62968
endYear           2442508
runtimeMinutes          0
genres                  0
dtype: int64

In [15]:
# Drop entire endYear column (all values are null)
basics = basics.drop(columns = 'endYear')

In [16]:
# Filter out documentaries in genre
is_doc = basics['genres'].str.contains('documentary', case = False)
basics = basics[~is_doc]

In [17]:
# View changes
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,1,Short

In [18]:
# Filter out all titles EXCEPT movies
is_movie = basics['titleType'].str.contains('movie', case = False)
basics = basics[is_movie]

In [19]:
# View changes
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,45,Romance
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120,"Adventure,Fantasy"
930,tt0000941,movie,Locura de amor,Locura de amor,0,1909,45,Drama

In [20]:
# View dtype and years for startYear
basics['startYear'].value_counts()

2018    10598
2017    10469
2019    10344
2016    10187
2015     9721
        ...
1907        2
1894        1
1906        1
1908        1
2026        1
Name: startYear, Length: 122, dtype: int64

In [21]:
# Change dtype to float (this will be inclusive to the null values)
basics['startYear'] = basics['startYear'].astype(float)

In [22]:
# Filter start year to include only years between 2000 and 2020
basics.loc[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2020)]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
34793,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,"Comedy,Fantasy,Romance"
61096,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,70,Drama
67642,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,Drama
77936,tt0079644,movie,November 1828,November 1828,0,2001.0,140,"Drama,War"
86772,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...
9356995,tt9916192,tvMovie,Danielle Darrieux: Il est poli d'être gai!,Danielle Darrieux: Il est poli d'être gai!,0,2019.0,53,Biography
9357033,tt9916270,movie,Il talento del calabrone,Il talento del calabrone,0,2020.0,84,Thriller
9357078,tt9916362,movie,Coven,Akelarre,0,2020.0,92,"Drama,History"
9357162,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019.0,123,Drama
9357235,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015.0,66,Drama

In [23]:
# Set start year to only include 2000-2020
basics = basics.loc[(basics['startYear'] >= 2000) & (basics['startYear'] <= 2020)]

In [24]:
# See that our counts have dropped due to filtering
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150703 entries, 34793 to 9357235
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          150703 non-null  object
 1   titleType       150703 non-null  object
 2   primaryTitle    150703 non-null  object
 3   originalTitle   150703 non-null  object
 4   isAdult         150703 non-null  object
 5   startYear       150703 non-null  float64
 6   runtimeMinutes  150703 non-null  object
 7   genres          150703 non-null  object
dtypes: float64(1), object(7)
memory usage: 10.3+ MB

In [25]:
# We can see that we have both 'movie' AND 'tvMovie'; drop 'tvMovie'
is_tvmovie = basics['titleType'].str.contains('tvMovie', case = False)
basics = basics[~is_tvmovie]
basics['titleType'].value_counts()

movie    129087
Name: titleType, dtype: int64

### I included a lot of checking steps in the filtering of the 'basics' DF for future reference

In [26]:
# Move on to eliminating \N from akas and ratings
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [27]:
# Replace \N with NaN
akas.replace({'\\N':np.nan}, inplace = True)

In [34]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33762801 entries, 0 to 33762800
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [36]:
akas.isna().sum()

titleId                   0
ordering                  0
title                     5
region              1868261
language            6343667
types              28411220
attributes         33513311
isOriginalTitle        2187
dtype: int64

In [40]:
# Drop null values in region column
akas = akas.dropna(subset = ['region'])

In [ ]:
# Filter us movies
us_movie = akas['region'].str.contains('us', case = False)
akas = akas[us_movie]

In [55]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [42]:
akas.duplicated().sum()

0

In [43]:
# Replace \N with NaN
ratings.replace({'\\N':np.nan}, inplace = True)

Now we will filter out our basics df to only include movies from the US with information from our akas df

In [45]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34793       True
61096       True
67642       True
77936      False
86772       True
           ...
9356985     True
9356994     True
9357033    False
9357078     True
9357162    False
Name: tconst, Length: 129087, dtype: bool

In [46]:
# Now filter basics
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
34793,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,"Comedy,Fantasy,Romance"
61096,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,70,Drama
67642,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,Drama
86772,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,100,"Comedy,Horror,Sci-Fi"
93908,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,126,Drama
...,...,...,...,...,...,...,...,...
9356449,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,74,Drama
9356845,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,97,"Comedy,Drama,Fantasy"
9356985,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,51,Drama
9356994,tt9916190,movie,Safeguard,Safeguard,0,2020.0,95,"Action,Adventure,Thriller"
9357078,tt9916362,movie,Coven,Akelarre,0,2020.0,92,"Drama,History"

In [48]:
# View rating df
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1922
1  tt0000002            5.8       259
2  tt0000003            6.5      1733
3  tt0000004            5.6       174
4  tt0000005            6.2      2544

In [49]:
keepers_2 = ratings['tconst'].isin(akas['titleId'])
keepers_2

0           True
1           True
2          False
3          False
4           True
           ...
1245807    False
1245808     True
1245809    False
1245810    False
1245811    False
Name: tconst, Length: 1245812, dtype: bool

In [50]:
# Now filter ratings
ratings = ratings[keepers_2]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1922
1        tt0000002            5.8       259
4        tt0000005            6.2      2544
5        tt0000006            5.1       175
6        tt0000007            5.4       797
...            ...            ...       ...
1245786  tt9916204            8.2       247
1245792  tt9916348            8.5        17
1245793  tt9916362            6.4      4975
1245797  tt9916428            3.8        14
1245808  tt9916720            5.3       275

[474125 rows x 3 columns]

In [51]:
# Making new folder with os
import os
os.makedirs('Data/',exist_ok = True)

# Confirm folder was created
os.listdir("Data/")

['title_basics.csv.gz', '.ipynb_checkpoints', 'title_ratings.csv.gz']

In [52]:
# Save basics to a csv in Data folder that was just created
basics.to_csv("Data/title_basics.csv.gz", compression = 'gzip',
                                          index = False)

In [53]:
# Check that it worked
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020.0,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,126,Drama

Looks great! Now we will save the other 2

In [54]:
# Save akas and ratings
akas.to_csv("Data/title_akas.csv.gz", compression = 'gzip',
                                          index = False)
ratings.to_csv("Data/title_ratings.csv.gz", compression = 'gzip',
                                          index = False)

In [56]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74959 entries, 0 to 74958
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          74959 non-null  object
 1   titleType       74959 non-null  object
 2   primaryTitle    74959 non-null  object
 3   originalTitle   74959 non-null  object
 4   isAdult         74959 non-null  int64
 5   startYear       74959 non-null  float64
 6   runtimeMinutes  74959 non-null  int64
 7   genres          74959 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 4.6+ MB

In [57]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1365697 entries, 5 to 33762545
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1365697 non-null  object
 1   ordering         1365697 non-null  int64
 2   title            1365697 non-null  object
 3   region           1365697 non-null  object
 4   language         3716 non-null     object
 5   types            965971 non-null   object
 6   attributes       45278 non-null    object
 7   isOriginalTitle  1364322 non-null  object
dtypes: int64(1), object(7)
memory usage: 93.8+ MB

In [58]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 474125 entries, 0 to 1245808
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         474125 non-null  object
 1   averageRating  474125 non-null  float64
 2   numVotes       474125 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 14.5+ MB